<div class="jumbotron">
<div class="brews">
  <center>
    <h1><%= @beer.name %></h1>
    <img src="<%= @beer.image %>">
  </center>

  <h3><em>Description:</em> <%= @beer.description %></h3>
 </div>
</div>

<%= link_to 'Edit', edit_beer_path(@beer), class:"btn btn-primary" %> 
<%= link_to 'Back', beers_path, class:"btn btn-primary"%>
<%= link_to 'Delete', @beer, class:"btn btn-primary" %>

